<!doctype html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Error 404! Page Not Found!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='errorpage.css') }}" >
	</head>
	<body class="body">
	  <div id="mainpage">
		<div class="mainpage">
				
			<div class="name">	
				
				<h1 class="Text">Can't find what you looking for?</h1>
				<br><br><p>Hint: Check at home!!</p><br>
				<a href='Team18.html' class="button"><span>Visit Home</span></a>
			<!-- <span><img src="http://danielwolf.cc/codepen/errorpage/sadFace.png"></span> -->
            <!-- <br> -->
            <!-- You might try and search for on <a href="#">this page</a> -->
			</div>
			<!-- <div class="footer"> -->
				<!-- <p>&#169 BY TEAM#18<p>   -->
		    <!-- </div> -->
		</div>
	  </div>
	</body>
</html>
